<p>
  <strong>Name:</strong>
  <%=h g.name %>
</p>
<p>
  <strong>Price:</strong>
  <%=h g.price %>
</p>
<p>
  <strong>Total Donations:</strong>
  <%=h g.total_donations %>
</p>
<%= link_to "Make a Donation", new_donation_path(:gift_id => g.id) %>

<%#= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), express_new_donation_path %>